<div class="container">
  <div class="row">

    <h2>我的好友</h2>
    <hr>

    <div class="container">
      <% @all_friends_q.each do |user| %>
        <div class="col-sm-6 col-md-3">
          <div class="food">
            <%= image_tag 'https://static.turbosquid.com/Preview/2014/12/26__12_10_53/TurboSignature.jpgc1c22c64-7b09-433c-a12f-54b3d51399b3Original.jpg', class: "img-responsive center-block" %>
            <% if @users.find(user).name == nil %>
              <%= @users.find(user).id %>號使用者
            <% else %>
              <%= @users.find(user).name %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
